@import '~antd/dist/antd.css';

.mr-20 {
  margin-left: 20px;
}

.mr-bt {
  margin-bottom: 20px;
  margin-top: 20px;
}

.markdown-body table {
  display: table;
  width: 100%;
  overflow: auto;
}
.dark-mode {
  background: #000;
  color: #fff; 
}
.screen-item {
  padding: 10px;
  text-align: center;
  background: skyblue;
  color: #fff;
  margin-top: 10px;
}
.alpha {
  display: flex;
  flex-wrap: wrap;
  .alpha-item {
    margin-left: 10px;
    padding: 5px 10px;
    background: skyblue;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    &.active {
      background: pink;
    }
  }
}
.color-item {
  padding: 10px;
  border-radius: 4px;
  transition: all .2s;
}