.__tsorter__ {
  thead {
    tr {
      th {
        position: relative;
        cursor: pointer;
        &::after {
          position: absolute;
          top: 50%;
          right: 10px;
          width: 10px;
          height: 16px;
          margin-top: -8px;
          content: '';
          background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAASCAMAAABVab95AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAABXUExURQAAAOTk5OTk5OTk5OTk5OTk5OTk5OTk5OTk5OTk5OTk5OTk5OTk5OTk5OTk5OTk5OTk5OTk5OTk5OTk5OTk5OTk5OTk5OTk5OTk5OTk5OTk5OTk5OTk5MZP1okAAAAcdFJOUwAx/DQMTfsDDeHJzWzxG6xxHbDz41GNUpLkjJFvbhUnAAAAVklEQVQI122ORxKAMAwDRQmh947+/04SYhgf2INnD7YlwGEWCGkx56IneQWLMjJOvNmSjso6rfnQA20TdBrQURjxj1pQZ+qZjlDBwEruX8njLQmz+XkDP1QIZ2U4Q54AAAAASUVORK5CYII=');
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
        }
        &.ascend {
          &::after {
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAASCAMAAABVab95AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAACTUExURQAAAFOCyFOCyOTk5OTk5OTk5FOCyOTk5FOCyOTk5FOCyOTk5OTk5OTk5OTk5FOCyFOCyOTk5FOCyFOCyFOCyOTk5OTk5OTk5OTk5FOCyFOCyFOCyFOCyOTk5OTk5FOCyOTk5FOCyOTk5OTk5FOCyFOCyOTk5FOCyOTk5FOCyFOCyOTk5OTk5FOCyFOCyOTk5FOCyIUwnf8AAAAvdFJOUwDhTQxSkg0DAw0Mjfvh5OOMTVH7kfwxNMn8Mck0zWzN8WyscfEbG6yw87Ad83EdALNeeAAAAG9JREFUCNdtzEkWgkAMRdFvW2WLgNgroIK0JvtfnVUmznyDnDtIAriGEbT5IJgqN8xb0SlmPl687JldqXXM+VsPFE9h/caLtQb/u5NWocxEXQvchA+3YQ5eV+O3d0uiZC+XC6KJPhmt1rPfw3Ds5we8HQ6tMaOqsQAAAABJRU5ErkJggg==');
          }
        }
        &.descend {
          &::after {
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAASCAMAAABVab95AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAACTUExURQAAAOTk5FOCyOTk5FOCyFOCyFOCyFOCyOTk5FOCyFOCyOTk5OTk5FOCyOTk5OTk5FOCyFOCyOTk5OTk5FOCyFOCyOTk5FOCyFOCyOTk5OTk5FOCyOTk5OTk5FOCyOTk5FOCyOTk5OTk5FOCyOTk5OTk5FOCyFOCyOTk5OTk5OTk5FOCyOTk5FOCyFOCyFOCyOTk5JHLyMUAAAAvdFJOUwBR++HkDY0DA5LhDE1SjONNDA2R/DH7NMn8Mc3JNGzN8WzxGxuscaxx8x3zsLAdLwLq/AAAAG9JREFUCNdtzEkWgkAMRdFvW2WLgNgroIK0JvtfnVUmznyDnDtIAriWA2iLURAp18yx6LRjPl697IVdqXXM+VsFPO/CukHBWof/vUjr8chE7Ru4CUu3YQ5eZ+O3kyHRdi+XU6KZPgnn48nv4Wbl5we9pQ6tk18KXwAAAABJRU5ErkJggg==');
          }
        }
      }
    }
  }
}
