html,
body {
  width: 100%;
  height: 100%;
}

.drag_wrap{
  position: fixed;
  width: 200px;
  height: 150px;
  top: 100px;
  left: 100px;
  background: #eee;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.drag_header{
  font-size: 12px;
  color: #666;
  padding-left: 10px;
  height: 35px;
  line-height: 35px;
  background: #d8d8d8;
  border-bottom: 1px solid #ccc;
  cursor: move;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.drag_body p{
  line-height: 1;
  color: #666;
  font-size: 12px;
  padding-left: 10px;
}
