.uploader_container{
  width: 360px;
  height: 180px;
  background-color: #fff;
  border: 1px dashed #d9d9d9;
  border-radius: 5px;
  text-align: center;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  cursor: pointer;
  .upload_dragger{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .upload_icon{
    display: block;
    width: 60px;
    height: 45px;
    margin: 0 auto;
    margin-top: 50px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAAtCAMAAADFqPh+AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAMAUExURQAAAJWmvZWmvcnS3Zeovqe2yJipv5eovq27zJ2twbnE05WmvZanvb3H1Z2twZ2twZanva27zK27zJOlvJaovpipvpqrwJuswJipv8vT3pyswam3yb/J16Oyxp2twsTO27bB0ZyswaGwxKe1yK67zb7I1qm3ycfR3Ku5ypanvpmpv7rF1JiovtXc5dDY4rC9zp2twqOyxaa1x5urwKW0x5epvrTA0KGwxJyswZanvqm2ybzH1tLZ45eovqCvw9LZ47jD0pSmvJ+vw5mpv5WmvKKyxbnF0627zJSlvJ6uwpeovpqqwLK/z5qrwMLM2aCvw8fQ3JmqwLnE07/J16Wzxq+8zZ2twq+8zZ+uwr3I1rzH1pWnva26y52twbvG1bfD0p2twqCvxJ+uw5yswZanvczU37XB0Ziovpeovqa0yK67zLnF06SyxqSyxqi2yaOyxay6y5WnvbTA0MnS3Zyswqq4ypeovpeovqCvw6a1x5WmvZeovq67zJipv5yswa67zaCwxKm3ybrF1MPN2rnE056uw5eovpanva27zMPN2p2twqe1yLbB0Zanvqq4y5eovpuswJ6uwqq4yp6twpipv5qrwKi3ybO/z667zJWnvbC+zp6uwpurwMvU36KxxZWmvZeovqy6y5eovpyswbPA0LPA0KCwxJ+vxKSzxpeovpWmvae1x5qrwJanvZanvpSlvK+9zcrT3rfD0qW0x5mqwJqqv8bQ3JeovpyswbvG1aa1x6u4yp+uw6m3yaOyxcvS3paovq26zLG+zpmqwK67zai2yKy5y6Gww7bB0bXB0Z2twqSzxp+vw6CvxMXO2qy6y56uw6u5ypqqv6Szx6GwxJ6uw5SmvJmpv8jR3JipvrC9zrnF0667zJipvpipvqq4yqW0xrbC0qW0x6KxxaOyxZ+vw52twqi2yKCwxKOxxa26y5ipv6y5y8rS3pWnvKy6zMXO2sTP25ytwaq4yq+8zZeovpanvZOlvJanvpWmvZSmvJWnvZSlvJaovpSlu5Smvcz3PmYAAAD1dFJOUwD7/gUGAeXUs8gsB/QGqs7WlbnXg8aDkPEd2IspS9IIO896pAknYBhW6c8w+QULZYUKgcyl6ENNwu85HgfhkQEu+7my9S4yBP593+gwwTqBBOhDWYx63G0wLRfkXAcgWtR7yYKDDl/66ndtaYGlo62G7C0tzwb27h12/PxK4YR/sRA/IgSgBf1qErePTOsl59C2NMX31FwHCPg427wjffjzPP7IS0p7wmHSBpLY6/4GeRMFre/QEtPVNZFVu63AEfudcOwwgXDFVjTLmca+GRuDGOBWwYr+2wrjUB+X4u61IViTsn3EjGhbG3TshyH9rjkL2HCHWhmJ5wAAAohJREFUSMedlGOY5EAQhnt35y53i7Nt27Zt27Zt27Zt27Zt+64rySRzd5mZvWxmunqTue9XnqfydldXfVWEcDR3+ZKduwVh2ug1C0YR3zRv3cotIFNKJYCxM+fs8IWdsQiA6gKYEGidTTfZgDqlVExsle04QKJekvrmtcYOKu6gjKTuI6ywTSICRQR10lqAO9spKrWWOZvMj3LUp6cpnFLlwfaEZmyD6sCDoVlSEziPQrkamNEErm3nw2JNE7gI8GF5qAkcl89SJQefy14vTZxYscOBaeVWLRuV7o2gPbJlaAs0fGmWVzLlbN7PCx1eNZ4ZqZ8AFfqnMrKV8oGEthY/USpZMIwtMBj/SUk+pCFe9wT1/7FlCuOsI30i0rQcbtVNi93sniQcV6kdtGguEacP3XPBBzijIJeopkXj4+NN1Q9O9lQwzjryF3Od3eY3XrSPn7XgRZkzge3dryraFbe7+IuQKyclPOkWWULrOTI33sYf38k5zsWlquidzIpf/eUbOf0HT6pbmA0ChqEXKD/JYbTWcq/WBgOmboclbv9EzqKdWFrDw/rjsMTVr+QSBtsnes5NwHTER+pTcgR5D8we7zV1gZuRsjwixxH7zV/NjPs2f9Ymr8gZ9mZYy+6K7buYmsnPyfljLLxwylabzRZU1klFaBxks20Ys2oW89uThyTkAlsxaepeQRBiRnfBUaJp3+uXsd18qUVPiLw1HcOVcFTOfrrzQAse3ccZZzGSC46Mw/LlEGd0kt//wMH73ZXspPoO+9cNbUPmLqKvMJTXm1hoo+gTDCtSGD3w9rFsGZbg7kFPBz17cd/hteLRVikAN65dZQz4/t2b14JRRpPounX75nUd+QtKZShN6HKDIwAAAABJRU5ErkJggg==');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .upload_text{
    display: block;
    color: #97a8be;
    font-size: 14px;
    margin-top: 10px;
  }
  &:hover, &.dragenter{
    border-color: #20a0ff;
  }
  .file_input{
    display: none;
  }
}

.fileList_container{
  .fileItem{
    position: relative;
    width: 360px;
    height: 100px;
    margin-bottom: 10px;
    border: 1px solid #c0ccda;
    border-radius: 5px;
    overflow: hidden;
    .imgPreview{
      position: absolute;
      top: 10px;
      left: 10px;
      width: 80px;
      height: 80px;
      border: 1px dashed #d9d9d9;
      overflow: hidden;
    }
    .imgInfo{
      color: #48576a;
      font-size: 14px;
      height: 100%;
      line-height: 80px;
      padding: 10px 10px 10px 100px;
      box-sizing: border-box;
      .infoName{
        display: inline-block;
        width: 230px;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    .imgDel{
      position: absolute;
      z-index: 0;
      right: 0;
      top: 0;
      width: 20px;
      height: 20px;
      font-size: 18px;
      color: #666;
      text-align: center;
      line-height: 20px;
      cursor: pointer;
    }
    .imgUploaded{
      display: none;
      position: absolute;
      z-index: 1;
      right: 0;
      top: 0;
      width: 30px;
      height: 30px;
      font-size: 18px;
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAFBUExURQAAABDOZE/Nh1bNi1DNiBHOZRHOZRPOZhHOZVDMh1nNjRDOZFrNjhHOZVLNiFDMhxPOZhPOZhPOZhHOZf///xTOZhHOZhDOZhLOZhLNYwjLXRHNYxTOZxLOYwvMYBHNZQ7NZCvRbgrMXL7rogrMYA/OZT7YhhLOZRHOZHffhg3OZwrMXRnRdAXLXXXow///9gbLX3zgjgbMYQrMYRPNYQ3LXf//927mwAjLXATLXYXhkGblv///+f3//wPMYBDNYgvNY2jhoT3esIrilQTMYfv//0LXgZrjn43jl5XimRTReD/Vcw3MXg7NXwzMXg3MYGPkvf//+gTLYKny5gfMYO743fz//xLRea/06RfSekLUbxPOZP//+wbMYPb//7z26wDJXF3juv///f///un32z7Ta9/10bP06nPluhLReBzSdYPa6ecAAAASdFJOUwD8XFtc+vHu/Fth6030TWHy3uh4FQoAAAEFSURBVCjPfdDHWsJAFIbhIy2gFB0mCV1sqFgQFJRu74JgAbtIsdz/BZiEBFJm8m/O4n2+zQH3lIOhbgZg0u9HtE0DgHWC6ozAYLETfDkWlxlcToOHk4m5WZnBpu+DmU28MB+QedQHN/ZZ4UQruzi1uqjUSr+yfnB1L+hxsZxLbwXGPOzXDvHD89tL8/akVMhzSMVSH768w73+Z+excRTikIbFPnLz28aDn/fX8xCPdCz27HXrG+Oviz0eGVjqa08f3bMsjwgs9fW/050lRGSxZ6vbHKKw7n8G1v7fyJqewOqexKqeyOOezKOewkpPY7mn8rCns9SbsNibMdicHjMGn8OUwfsPkI4rpNxAeCcAAAAASUVORK5CYII=');
      background-size: cover;
      background-repeat: no-repeat;
    }
    .progressbar{
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 0%;
      background: #20a0ff;
      transition: all 0.5s;
    }
    &.error{
      border: 1px solid #f13030;
    }
    &.success{
      .imgUploaded{
        display: block;
      }
    }
    &.success:hover {
      .imgUploaded{
        display: none;
      }
    }
    &.complete{
      .progressbar{
        display: none;
      }
    }
  }
}
