$menuWidth: 150px;
$menuItemheight: 25px;

#contextmenu {
  position: fixed;
  min-width: $menuWidth;
  min-height: $menuItemheight;
  padding: 2px 0;
  background: #fff;
  border: 1px solid #dde0e4;
  border-radius: 5px;
  box-shadow: 0 0 8px #ccc;
  user-select: none;

  ul {
    min-width: $menuWidth;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      cursor: default;
      height: $menuItemheight;
      line-height: $menuItemheight;
      white-space: nowrap;
      position: relative;
      z-index: 1;
      padding: 0 27px 0 20px;
      list-style: none;
      font-size: 13px;
      color: #5b667b;
      word-break: break-all;

      &.disabled {
        color: #c5cbd8;
        &:hover {
          color: #c5cbd8;
          background-color: transparent;
        }
      }

      &.border{
          border-bottom: 1px solid #dde0e4;
      }

      &:hover {
        background-color: #4281f4;
        color: #fff;
        &.children > ul {
          display: block !important;
        }
      }

      &.children {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAHAQMAAAALYk4gAAAABGdBTUEAALGPC/xhBQAAAAZQTFRFAAAAW2Z7Mf4cCwAAAAF0Uk5TAEDm2GYAAAAYSURBVAjXY2hgYDjAwPCAgeEDmASyGxgAOSUFMci95GMAAAAASUVORK5CYII=');
        background-repeat: no-repeat;
        background-position: right center;
        &:hover {
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAHAQMAAAALYk4gAAAABGdBTUEAALGPC/xhBQAAAAZQTFRFAAAA////pdmf3QAAAAF0Uk5TAEDm2GYAAAAYSURBVAjXY2hgYDjAwPCAgeEDmASyGxgAOSUFMci95GMAAAAASUVORK5CYII=');            
        }
        & > ul {
          position: absolute;
          top: 0;
          right: -$menuWidth;
          display: none;
          background-color: #fff;
          border: 1px solid #dde0e4;
        }
      }
    }
  }

  &.hide {
    display: none;
  }

  &.left {
    .children ul {
      left: -$menuWidth;
      right: auto;
    }
  }
}
