.counterUp-container{
    text-align: center;
    margin-top: 100px;
}

.counterUp-container .counter {
    display: inline-block;
    margin: 0 30px;
    padding: 2px 10px;
    font-size: 18px;
}

.counter.counting{
    background: #efefef;
}

.counter.end{
    background: #aaefb3;
}