.slider{
  width: 100%;
  height: 350px;
  position: relative;
  overflow: hidden;
  .slider_item{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .slider_direction{
    a{
      position: absolute;
      z-index: 998;
      top: 50%;
      display: inline-block;
      width: 30px;
      height: 50px;
      margin-top: -25px;
      background: #000;
      opacity: .6;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 12px;
      cursor: pointer;
      &.prev{
        left: 0;
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAABGCAMAAACNK/ZIAAAABGdBTUEAALGPC/xhBQAAAQVQTFRF////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////AAAA////b8EUzgAAAFZ0Uk5TT5x0He8Somhci3Nu7nVq8hQHCY0RhxUI5QZk22Dmgg9x9/p9EIYYb+r0W6d5GWzz4hMO6/jo+Q0WGhf+BP12eOOM8G18gwrka46I5xyPkHAb4YCRaQDL9BlXAAABxElEQVRIx43W5ZKDQAwAYM7d3d3r7u6FQins+z/K3dVg02R39087wzeZgWSTaK7sPMz+aFK6bytSvXrAbDVaZn/HVqCHexE2t0J61WPTY8uoc8l8VkCDRpExnxXQxxTzny5Js/d9xh+SNgEslgh6UR/y8nlg4TQ6ADGTHeoL7NQArbZwqm/t8jCyHCVS0AAhWYOogdNt8Ea16gpOWycg5GqdqtdOEtDBGk6tQYKHw/oxcWFKeRCz6T3j6PtLm4f9ZpagbyDkk+l/6qOFToWXeSOH08wIxGw7/Ht49OML0LMCTq3eJw8r5XMXpzbMe2Ah4xOaNkHew4aO01gXhIyHkIIb01Ac0G4Mp7oRBnk30y5OA/CNbPxqasEyyFG/ZxF0Ccb8pjqDpkH6Q1LXgXZEUmX7/10V7TgFanZSA0p2WlkqdlaECnZ+C+TWuzBS67uxMuvvAxLLtQyx5XuW0IL2JrKwvwrsQium7eIsIC0yYSiLDSPCotMQt/jgRC0xuTFL7QOIJVeHBbtO7y7QJgRrDm9TG6I9y29rdka8knmDaVO2E86tfSTdNCf25rqlsJSOram2FTvsrpFTXKCdW+Vd232d/v4CUw/AsWZpSP8AAAAASUVORK5CYII=');
      }
      &.next{
        right: 0;
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAABGCAMAAACNK/ZIAAAABGdBTUEAALGPC/xhBQAAAQVQTFRF////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////AAAA////b8EUzgAAAFZ0Uk5TT5wddO8SFW7ui/JqD3UUaKJcCQgRc4cG5Y3622QH5veC6nFgEBh9b/SGp1t5GfMO62wT4uj4DfkaFxb+BP12eOOM8HxtCoPkjmuI5xyPkHAb4YCRaQAG/PP2AAABoElEQVRIx43U1XrCQBQE4NTd3d1xKtBCcS3WwNn3f5QiKbCHTPbMTW7+b74kO4lFTlbJFMu52itSaqvlTE1EbdVNSkL7UkXX1o10ILupHhjoUKrDjjcdSaWSdb8HLavxfFx7UKXn5zIG6XeS4SKkrcaxTn/zO/ANVF5ZbyOCaCHDaHYBHkFkJqrbxaUa3ECO9aocpNOZLHu2vV241/ws6z0qIDrXYPS1giht5391+9ZoAUpUZL1f35DGij+6Ld3fAUrUvGDFT5DG6186TVcSgBJ1Sqy3/YloYp/RxwdEaT6V1u1VtQUokY/vwYa0Vg+wPTTfASUKh1hvOYhosMxoKIwovTfZHgL1GqCk/Uf68UHaqrI9pFN+C331L7x3CtJnTi1E21x20L26SEDdpDt1la7UXbpRIF0okpMUygmKJaceklEvqVNPqVFvOU4Ncoya5Iga5ZCa5T8VSIdK5ICKZJ/KZI8KZZdKJVmbUknWm1SStfEhlGR92lmZ7L2BrZJI9uiZLZL9Iyicngiks4GmQDo0njs3yuFeb4xySG+Nkv4AHLnAsSF+TZYAAAAASUVORK5CYII=');
      }
      &:hover{
        opacity: 1;
      }
    }

  }
  .slider_control{
    position: absolute;
    z-index: 1000;
    bottom: 0;
    right: 0;
    height: 25px;
    text-align: right;
    padding-right: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    a{
      margin: 8px 5px 0 0;
      border-radius: 5px;
      width: 8px;
      height: 8px;
      line-height: 25px;
      overflow: hidden;
      background: #fff;
      display: inline-block;
      text-indent: 20px;
      cursor: pointer;
      &.active{
        background: #fd4c5d;
      }
      &:last-child{
        margin-right: 0;
      }
    }
  }
  .slider_caption{
    position: absolute;
    left: 0;
    bottom: 0;
    color: #fff;
    width: 100%;
    z-index: 999;
    padding: 0 10px;
    font-size: 13px;
    overflow: hidden;
    height: 25px;
    line-height: 25px;
    background: #000;
    background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0.2) 35%, rgba(0, 0, 0, 0.5) 65%, rgba(0, 0, 0, 0.66));
    background: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0.2) 35%, rgba(0, 0, 0, 0.5) 65%, rgba(0, 0, 0, 0.66));
    background: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0.2) 35%, rgba(0, 0, 0, 0.5) 65%, rgba(0, 0, 0, 0.66));
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0.2) 35%, rgba(0, 0, 0, 0.5) 65%, rgba(0, 0, 0, 0.66));
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
