@charset "utf-8";
* {
	margin: 0;
	padding: 0;
	border: 0px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	/*清除手机tap事件后element 时候出现的一个高亮*/
	outline: none;
	-webkit-text-size-adjust: none;
	vertical-align: baseline;
}

html,
body {
	font-family: PingFang-SC-Regular, Helvetica, sans-serif;
	-webkit-text-size-adjust: 100%;
	position: relative;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	max-width: 750px;
	overflow-x: hidden;
	-webkit-touch-callout: none;
	/*禁用长按页面时的弹出菜单*/
	-webkit-tap-highlight-color: white;
	box-sizing: border-box;
	-webkit-backface-visibility: hidden;
	/*使用CSS transforms 或者 animations时可能会有页面闪烁的bug*/
}

li {
	list-style: none;
}

ul,
ol {
	list-style-type: none;
}

select,
input,
img,
select {
	vertical-align: middle;
}

img {
	border: none;
	display: inline-block
}

i {
	font-style: normal
}

a {
	text-decoration: none;
	-webkit-appearance: none;
}

*:focus {
	outline: none;
}

input,
textarea,
button {
	resize: none;
	-webkit-appearance: none;
	/*移除浏览器默认的样式，比如chrome的input默认样式*/
	outline: none;
}

input {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

strong {
	font-weight: bold;
}

h3,
h4 {
	font-weight: normal
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #cecece;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
	color: #cecece;
}

input,
textarea,
[contenteditable] {
	/*用CARET-COLOR来自定义光标的样式*/
	caret-color: red;
}

input[type="button"],
input[type="submit"],
input[type="file"],
button {
	cursor: pointer;
	-webkit-appearance: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.hoverhands {
	cursor: pointer;
	/*悬浮显示手*/
}

.use-3D {
	-webkit-transform: rotateY(60deg);
	/* Chrome, Safari, Opera */
	-webkit-transform-style: preserve-3d;
	/* Chrome, Safari, Opera */
	transform: rotateY(60deg);
	transform-style: preserve-3d;
}

.perspective {
	/*perspective 透视  : 这个属性的存在决定你看到的元素是2d还是3d。一般设置在包裹元素的父类上。*/
	perspective: 400px;
}


/*禁止选中copy*/

.dont-select {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}


/*float*/

.f-left {
	float: left;
}

.f-right {
	float: right;
}

.clearfloat:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	zoom: 1;
	visibility: hidden;
}

.clear,
.clearfloat {
	clear: both;
	zoom: 1;
}

.hide {
	display: none !important;
}

.show {
	display: block;
}

.tc {
	text-align: center;
}

.tl {
	text-align: left;
}

.tr {
	text-align: right;
}


/*一行多行显示省略号*/

.one-line {
	display: -webkit-box !important;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	/*clip  修剪文本。*/
}

.more-line {
	display: -webkit-box !important;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

.auto-gp {
	/*自动换行*/
	word-wrap: break-word;
	word-break: normal;
}


/*flex*/

.flex {
	display: -webkit-box;
	display: box;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	/*flex-start | flex-end | center | space-between | space-around;*/
	align-items: flex-start;
	/*flex-start | flex-end | center | baseline | stretch;*/
	align-content: flex-start;
	/*flex-start | flex-end | center | space-between | space-around | stretch;*/
	align-self: auto;
}


/*移动端1px*/

.onepx-border:before {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 200%;
	height: 200%;
	border: 1px solid blue;
	transform-origin: 0 0;
	transform: scale(0.5, 0.5);
	box-sizing: border-box;
	border-radius: 10px;
}


/*移动端1px*/

.onepx-top-border:before {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 1px;
	background: #EAEAEA;
	transform: scaleY(0.5);
	box-sizing: border-box;
}

.onepx-bottom-border:after {
	content: '';
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 1px;
	background: #EAEAEA;
	transform: scaleY(0.5);
	box-sizing: border-box;
}

::-webkit-scrollbar {
	display: none;
}

[v-cloak] {
	display: none
}


/*滚动条样式*/


/*
::-webkit-scrollbar {  //隐藏滚轮display: none;
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-track-piece {
	background: #eee;
}

::-webkit-scrollbar-thumb:vertical {
	background: #666;
}
*/

.lx-toast {
	position: fixed; 
	box-sizing: border-box;
	max-width: 80%;
	height: 40px;
	line-height: 20px;
	padding: 10px 20px;
	text-align: center;
	z-index: 9999;
	font-size: 14px;
	color: #fff;
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.7);
	animation: show-toast .5s;
	-webkit-animation: show-toast .5s;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.lx-toast.lx-word-wrap {
	width: 80%;
	white-space: inherit;
	height: auto;
}

.lx-toast.lx-toast-top {
	top: 50px;
	bottom: inherit;
}

.lx-toast.lx-toast-center {
	top: 50%;
	margin-top: -20px;
	bottom: inherit;
}

@keyframes show-toast {
	from {
		opacity: 0;
		transform: translate(-50%, -10px);
		-webkit-transform: translate(-50%, -10px);
	}
	to {
		opacity: 1;
		transform: translate(-50%, 0);
		-webkit-transform: translate(-50%, 0);
	}
}

.lx-load-mark {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
}

.lx-load-box {
	box-sizing: border-box;
	position: fixed;
	z-index: 3;
	min-width: 92px;
	min-height: 92px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgba(0, 0, 0, 0.7);
	text-align: center;
	border-radius: 5px;
	color: #FFFFFF;
}

.lx-load-content {
	margin-top: 64%;
	font-size: 14px;
}

.lx-loading {
	position: absolute;
	width: 0px;
	left: 50%;
	top: 38%;
}

.loading_leaf {
	position: absolute;
	top: -1px;
	opacity: 0.25;
}

.loading_leaf:before {
	content: " ";
	position: absolute;
	width: 9.14px;
	height: 3.08px;
	background: #d1d1d5;
	box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0px 1px;
	border-radius: 1px;
	-webkit-transform-origin: left 50% 0px;
	transform-origin: left 50% 0px;
}

.loading_leaf_0 {
	-webkit-animation: opacity-0 1.25s linear infinite;
	animation: opacity-0 1.25s linear infinite;
}

.loading_leaf_0:before {
	-webkit-transform: rotate(0deg) translate(7.92px, 0px);
	transform: rotate(0deg) translate(7.92px, 0px);
}

.loading_leaf_1 {
	-webkit-animation: opacity-1 1.25s linear infinite;
	animation: opacity-1 1.25s linear infinite;
}

.loading_leaf_1:before {
	-webkit-transform: rotate(30deg) translate(7.92px, 0px);
	transform: rotate(30deg) translate(7.92px, 0px);
}

.loading_leaf_2 {
	-webkit-animation: opacity-2 1.25s linear infinite;
	animation: opacity-2 1.25s linear infinite;
}

.loading_leaf_2:before {
	-webkit-transform: rotate(60deg) translate(7.92px, 0px);
	transform: rotate(60deg) translate(7.92px, 0px);
}

.loading_leaf_3 {
	-webkit-animation: opacity-3 1.25s linear infinite;
	animation: opacity-3 1.25s linear infinite;
}

.loading_leaf_3:before {
	-webkit-transform: rotate(90deg) translate(7.92px, 0px);
	transform: rotate(90deg) translate(7.92px, 0px);
}

.loading_leaf_4 {
	-webkit-animation: opacity-4 1.25s linear infinite;
	animation: opacity-4 1.25s linear infinite;
}

.loading_leaf_4:before {
	-webkit-transform: rotate(120deg) translate(7.92px, 0px);
	transform: rotate(120deg) translate(7.92px, 0px);
}

.loading_leaf_5 {
	-webkit-animation: opacity-5 1.25s linear infinite;
	animation: opacity-5 1.25s linear infinite;
}

.loading_leaf_5:before {
	-webkit-transform: rotate(150deg) translate(7.92px, 0px);
	transform: rotate(150deg) translate(7.92px, 0px);
}

.loading_leaf_6 {
	-webkit-animation: opacity-6 1.25s linear infinite;
	animation: opacity-6 1.25s linear infinite;
}

.loading_leaf_6:before {
	-webkit-transform: rotate(180deg) translate(7.92px, 0px);
	transform: rotate(180deg) translate(7.92px, 0px);
}

.loading_leaf_7 {
	-webkit-animation: opacity-7 1.25s linear infinite;
	animation: opacity-7 1.25s linear infinite;
}

.loading_leaf_7:before {
	-webkit-transform: rotate(210deg) translate(7.92px, 0px);
	transform: rotate(210deg) translate(7.92px, 0px);
}

.loading_leaf_8 {
	-webkit-animation: opacity-8 1.25s linear infinite;
	animation: opacity-8 1.25s linear infinite;
}

.loading_leaf_8:before {
	-webkit-transform: rotate(240deg) translate(7.92px, 0px);
	transform: rotate(240deg) translate(7.92px, 0px);
}

.loading_leaf_9 {
	-webkit-animation: opacity-9 1.25s linear infinite;
	animation: opacity-9 1.25s linear infinite;
}

.loading_leaf_9:before {
	-webkit-transform: rotate(270deg) translate(7.92px, 0px);
	transform: rotate(270deg) translate(7.92px, 0px);
}

.loading_leaf_10 {
	-webkit-animation: opacity-10 1.25s linear infinite;
	animation: opacity-10 1.25s linear infinite;
}

.loading_leaf_10:before {
	-webkit-transform: rotate(300deg) translate(7.92px, 0px);
	transform: rotate(300deg) translate(7.92px, 0px);
}

.loading_leaf_11 {
	-webkit-animation: opacity-11 1.25s linear infinite;
	animation: opacity-11 1.25s linear infinite;
}

.loading_leaf_11:before {
	-webkit-transform: rotate(330deg) translate(7.92px, 0px);
	transform: rotate(330deg) translate(7.92px, 0px);
}

@-webkit-keyframes opacity-0 {
	0% {
		opacity: 0.25;
	}
	0.01% {
		opacity: 0.25;
	}
	0.02% {
		opacity: 1;
	}
	60.01% {
		opacity: 0.25;
	}
	100% {
		opacity: 0.25;
	}
}

@-webkit-keyframes opacity-1 {
	0% {
		opacity: 0.25;
	}
	8.34333% {
		opacity: 0.25;
	}
	8.35333% {
		opacity: 1;
	}
	68.3433% {
		opacity: 0.25;
	}
	100% {
		opacity: 0.25;
	}
}

@-webkit-keyframes opacity-2 {
	0% {
		opacity: 0.25;
	}
	16.6767% {
		opacity: 0.25;
	}
	16.6867% {
		opacity: 1;
	}
	76.6767% {
		opacity: 0.25;
	}
	100% {
		opacity: 0.25;
	}
}

@-webkit-keyframes opacity-3 {
	0% {
		opacity: 0.25;
	}
	25.01% {
		opacity: 0.25;
	}
	25.02% {
		opacity: 1;
	}
	85.01% {
		opacity: 0.25;
	}
	100% {
		opacity: 0.25;
	}
}

@-webkit-keyframes opacity-4 {
	0% {
		opacity: 0.25;
	}
	33.3433% {
		opacity: 0.25;
	}
	33.3533% {
		opacity: 1;
	}
	93.3433% {
		opacity: 0.25;
	}
	100% {
		opacity: 0.25;
	}
}

@-webkit-keyframes opacity-5 {
	0% {
		opacity: 0.270958333333333;
	}
	41.6767% {
		opacity: 0.25;
	}
	41.6867% {
		opacity: 1;
	}
	1.67667% {
		opacity: 0.25;
	}
	100% {
		opacity: 0.270958333333333;
	}
}

@-webkit-keyframes opacity-6 {
	0% {
		opacity: 0.375125;
	}
	50.01% {
		opacity: 0.25;
	}
	50.02% {
		opacity: 1;
	}
	10.01% {
		opacity: 0.25;
	}
	100% {
		opacity: 0.375125;
	}
}

@-webkit-keyframes opacity-7 {
	0% {
		opacity: 0.479291666666667;
	}
	58.3433% {
		opacity: 0.25;
	}
	58.3533% {
		opacity: 1;
	}
	18.3433% {
		opacity: 0.25;
	}
	100% {
		opacity: 0.479291666666667;
	}
}

@-webkit-keyframes opacity-8 {
	0% {
		opacity: 0.583458333333333;
	}
	66.6767% {
		opacity: 0.25;
	}
	66.6867% {
		opacity: 1;
	}
	26.6767% {
		opacity: 0.25;
	}
	100% {
		opacity: 0.583458333333333;
	}
}

@-webkit-keyframes opacity-9 {
	0% {
		opacity: 0.687625;
	}
	75.01% {
		opacity: 0.25;
	}
	75.02% {
		opacity: 1;
	}
	35.01% {
		opacity: 0.25;
	}
	100% {
		opacity: 0.687625;
	}
}

@-webkit-keyframes opacity-10 {
	0% {
		opacity: 0.791791666666667;
	}
	83.3433% {
		opacity: 0.25;
	}
	83.3533% {
		opacity: 1;
	}
	43.3433% {
		opacity: 0.25;
	}
	100% {
		opacity: 0.791791666666667;
	}
}

@-webkit-keyframes opacity-11 {
	0% {
		opacity: 0.895958333333333;
	}
	91.6767% {
		opacity: 0.25;
	}
	91.6867% {
		opacity: 1;
	}
	51.6767% {
		opacity: 0.25;
	}
	100% {
		opacity: 0.895958333333333;
	}
}