.__pr__wrap{
  .__pr__symbol{
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    left: 0;
    text-align: center;
    overflow: hidden;
    .__pr__msg{
      height: 3rem;
      line-height: 3rem;
    }
  }
  .__pr__container{
    position: relative;
    z-index: 1;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
  }
  &.__pr__release .__pr__symbol, &.__pr__refresh .__pr__symbol{
    transition: transform .2s;
  }
  &.__pr__release .__pr__container, &.__pr__refresh .__pr__container{
    transition: transform .2s;
  }
}
